<template>
  <div class="flex-container">
    <header class="header">
      <h2 class="header-title">
        <span class="title-span">Цукерочки</span>      
        <img class="header-logo" alt="Candy logo" src="../assets/Frame.png">
      </h2>    
      <div class="header-text">
        Дуже багато нових рішень та крутих фіч які економлять час та покращуюсь вашу роботу в десятки разів. Ласкаво просимо до ознайомлення. Немає часу на перегляд всього? Підпишись та отримуй найцікавіше в одному листі раз на тиждень.      
      </div>
      <hr class="hr" />
      <Searchbar /> 
    </header>
    <main class="main">
      <Navico />
      <topics />
      <button class="btn-more"> Всі 309 цукерочок </button>
    </main>
  </div>
</template>

<script>
import Searchbar from '@/components/Searchbar.vue';
import Navico from '@/components/Navico.vue';
import topics from '@/components/Topics.vue';

export default {
  name: 'home',
  components: {
    Searchbar,
    Navico,
    topics
  }
}
</script>

<style scoped lang="scss">
@font-face {
  font-family: Gilroy;
  src: url(../assets/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy2;
  src: url(../assets/Gilroy-ExtraBold.otf);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex-container{
  width: 1080px;
  margin:0 auto;
  padding: 64px 0 0 0;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.header {
  margin:0 auto;
  padding: 16px ;
  text-align: left;
  width: 50%;
}
.header-title{
  margin:0;
  padding: 0 0 8px 0;
   display: inline-block;
  font-family: Gilroy2;
  font-size: 48px;
  color: #313335;
}
.header-logo{
  margin: 0 12px;
  padding: 0;
  width: 30px;
  height: 30px;
}
.header-text{
  margin:0;
  padding: 36px 0;
  text-align: left;
  font-family: 'Roboto';
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
color: #6E7680;
}
.hr{
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
  background: #F0F4F7;
  border: 0.75px solid #F0F4F7;
}
.main{
   margin:0;
  padding: 16px;
  text-align: left;
  width: 50%;
}
.btn-more{
 margin:8px auto;
  padding: 16px 16px;
  width: 100%;
  background: #902156;
  border-radius: 22px;
  border: none;
  font-family: Gilroy;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;

}
.btn-more:hover{
  background: #AE2968;
}

@media screen and (max-width: 1080px) {
  .flex-container{
    width: 100%;
  }

}
@media screen and (max-width: 620px) {
  .flex-container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header{
    width: 220px;
    margin:0 auto;
    padding: 0;
    text-align:center;
    font-size: 38px;
  }
  .header-title{
  margin:0 auto;
  padding: 72px 0 16px 0;
   display: block;
   text-align: center;
   font-size: 38px;
}
.title-span{
  display: block;
}
.header-logo{
  margin: 0 12px;
  padding: 0;
  text-align:center;
}
  .header-text{
  margin:0;
  padding: 36px 0;
  text-align: left;
  font-family: 'Roboto';
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
color: #6E7680;
display: none;
}
  .main{
  width: 220px;
  margin:0 auto;
    padding: 0;
}
.btn-more{
  margin:32px auto;
  padding: 16px 0;
  width: 220px;
}

}
</style>
