<template>
  <div>
    <div class="nav-ico">
      <div class="ico active"><img class="nav-logo a" alt="menu logo" src="../assets/menu.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/iconfinder_js_282802.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/Group 3.3.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/css-3.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/html-5.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/python_104451.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/ruby.png"/></div>
      <div class="ico"><img class="nav-logo b" alt="menu logo" src="../assets/Group 26.1.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/Group 3.4.png"/></div>
      <div class="ico"><img class="nav-logo" alt="menu logo" src="../assets/java.png"/></div>      
    </div>
    <hr class="hr" />
  </div>
</template>

<script>
export default {
  name: 'Navico'  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.nav-ico{
  margin:0;
  padding: 16px 0;
  width: 100%;
  display: flex;
  display: row;
  text-align: center;
  justify-content: center;
}
.ico{
  margin: 8px auto;
  padding: 0;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  background: #F0F4F7;
  border-radius: 50%;
  border: 2px solid transparent;
}
.active{
  background: #FFFFFF;
  border: 2px solid #6BCA3E;
}
.ico:hover{
  background: #FFFFFF;
  border: 2px solid transparent;
  cursor: pointer;
  background: #E2EAF0;
}
.nav-logo{
  margin:4px 0;
  padding: 0;
  vertical-align: baseline;
}
.a{
  vertical-align: sub;
  padding: 4px 0 0 0;
}
.b{
  vertical-align: text-top;
  padding: 2px 0 0 0;
}
.hr{
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
  background: #F0F4F7;
  border: 0.75px solid #F0F4F7;
}

@media screen and (max-width: 620px) {
 .nav-ico{
  display:none;
}
.hr{
  display:none;
}


}
</style>
