<template>
    <div class="search"> 
        <h4 class="search-title">Отримуйте першим нові цукерочки <img class="search-logo" alt="Search logo" src="../assets/fire.png"></h4>        
        <form id="editemail" class="input-app">
            <input class="email" type="text" v-model="message" placeholder="Ведіть email" required/>
            <button class="btn-submit" v-on:click="getEmail">
                <svg class="ico" width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path  d="M4.98432 4.50001L1.00917 0.0175171L0.0153809 1.13814L2.99675 4.50001L0.0153809 7.86188L1.00917 8.9825L4.98432 4.50001Z" fill="#313335"/>
                </svg>
            </button>
        </form>
    </div>    
</template>

<!--
<script>
Vue.component('editemail', {
    props: ["email"],
    data: function () {
      return { email: this.email}
    },
    template: '<input class="email" type="text" v-model="email" plaseholder="Ведіть email" required/>'
});
var editemail = new Vue({
    el: "#editemail",
    data: {
        email: 'Ведіть email'
    },
    methods:{
        getEmail: function(e){
            console.log(this.email);
        }
    }
});
</script>
-->
<script>
export default {
    name: 'Searchbar',
    data(){
        return {
             
        }
    },
    methods(){
        return{
            getEmail: function(e){
            console.log(this.email);
        }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@font-face {
  font-family: Gilroy;
  src: url(../assets/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy2;
  src: url(../assets/Gilroy-ExtraBold.otf);
}
.search{
    margin: 0;
    padding: 0;
}
.search-title {
    margin: 8px 0 0 0;
    padding: 16px 0;
    font-family: Gilroy2;
    font-size: 18px;    
    color: #313335;
    z-index: 3;    
}
.search-logo{
    margin: 0 12px;
    padding: 0;
    width: 18px;
    height: 19px;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
}

//$type: off;

.input-app{
    margin: 0;
    padding: 8px 0;
    width: 100%;
    background: #F0F4F7;
    border-radius: 30px;
    border: 2px solid transparent;
/*
     @if $type == ocean {
        background: #FFFFFF;
        border: 2px solid #E2EAF0;  
  } @else $type == off {
        background: #F0F4F7;
        border: 2px solid transparent;
  } 
  */   
}
.input-app:hover{
    background: #E2EAF0;
    border: 2px solid transparent; 
    //$type: on;   
}
.input-app:focus .email{
    background: #FFFFFF;
    border: 2px solid #F0F4F7; 
}
.email{
    margin: 0 16px;
    padding: 8px 16px;
    width: 76%;
    background: none;
    border: 2px solid transparent;
    outline:none;
}
 .email:focus{
    margin: 0 16px;
    padding: 8px 16px;
    width: 76%;
    border-radius: 30px;
    background: #FFFFFF;
    border: 2px solid transparent; 
    //$type: on;   
}
.btn-submit{
    margin: 0;
    padding: 8px;
    width: 45px;
    height: 45px; 
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #E2EAF0;
    display: inline-block;
    text-align: right;
    outline:none;
    cursor:pointer;
}
.ico{
    margin: 0;
    padding: 0 9px 0 0;
}
@media screen and (max-width: 620px) {
    .search{
    margin: 0 auto;
    padding: 0 0 48px 0;
    width: 100%;
}
    .input-app{
    margin: 0;
    padding: 2px 0 8px 0;
    width: 100%;     
}
    .email{
    margin: 0 ;
    padding: 8px 16px 8px 4px;
    width: 58%;
}
.input-app .email:focus{
    margin: 0 ;
    padding: 8px 16px 8px 4px;
    width: 58%;   
}


}

</style>


