<template>
    <div id="topics" class="content">          
        <ul class="content-list">            
	        <li class="content-item" v-for="(topic, id) in users" :key="id" >
                <div class="content-container">
                    <div class="content-header">
                        <div class="content-hashtag">{{title}}</div>                
                        <div class="content-title">{{topic.name}}</div>
                    </div>
                    <div class="content-menu"> 
                        <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4ZM2 6C0.9 6 0 6.9 0 8C0 9.1 0.9 10 2 10C3.1 10 4 9.1 4 8C4 6.9 3.1 6 2 6ZM2 12C0.9 12 0 12.9 0 14C0 15.1 0.9 16 2 16C3.1 16 4 15.1 4 14C4 12.9 3.1 12 2 12Z" fill="#6E7680"/>
                        </svg>
                    </div>                    
                </div>
				<div class="content-text">{{topic.age}}</div>
                <button class="btn-link">Link</button>
                <hr class="hr" />
            </li>
	    </ul>        
    </div>    
</template>


<script> 
export default {
    name: 'topics',     
    data() {
        return {
            title: '#Javascript',
            users: [
				{name:'Moeditor', age:'CSS фреймворк та директива від GitHub'}, 
				{name:'waitMe', age:'CSS фреймворк та директива від GitHub'}, 
                {name: 'Primer', age:'CSS фреймворк та директива від GitHub'},
                {name: 'Django spurl', age:'CSS фреймворк та директива від GitHub'}
			],   
            };
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@font-face {
  font-family: Gilroy;
  src: url(../assets/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy2;
  src: url(../assets/Gilroy-ExtraBold.otf);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.content{
    margin:0;
    padding: 0;
    width: 100%;
}
.content-list{
    margin:0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.content-item{
    margin:0;
    padding: 8px 0 16px 0;
}
.content-container{
    margin:0;
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: row;
}
.content-header{
    margin:0;
    padding: 0;     
    width: 100%;
}
.content-hashtag{
    margin:0;
    padding: 0 0 6px 0; 
    width: 100%;
    font-family: Gilroy2;    
    line-height: normal;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #902156;
    text-transform: uppercase;
    cursor: pointer;
}
.content-title{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: Gilroy2;
    line-height: normal;
    font-size: 18px;
    color: #313335;
    
}
.content-menu{
    margin:0;
    padding: 0 ;
    float: right;
    text-align: right;
    cursor:pointer;
}
.content-menu:hover{
    color:#902156;      
}
.content-text{
    margin:0;
    padding: 4px 16px;
    display: inline-block;

font-family: 'Roboto';
font-style: normal;
font-weight: normal;
line-height: 21px;
font-size: 14px;
color: #6E7680;
}

.btn-link{
    margin:0 16px 16px 0;
    padding: 0;
    display: inline-block;
    float: right;
width: 76px;
height: 28px;
background: #FFFFFF;
border: 2px solid #E2EAF0;
box-sizing: border-box;
border-radius: 22px;

font-family: Gilroy2;
line-height: normal;
font-size: 10px;
text-align: center;
letter-spacing: 0.1em;
color: #313335;
cursor:pointer;
}
.btn-link:hover{
    color: #6BCA3E;
    border: 2px solid #6BCA3E;
    background: #FFFFFF;
}
.hr{
  margin: 0;
  padding: 0;
  width: 100%;
  background: #F0F4F7;
  border: 0.75px solid #F0F4F7;
}

@media screen and (max-width: 620px) {
    .content-list{
    margin:0 auto;
    padding: 0;
    width: 100%;
}
.content-item{
    margin:0;
    padding: 8px 0 22px 0;
}
.content-container{
    margin:0;
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: row;
}
.content-header{
    margin:0;
    padding: 0;     
    width: 100%;
    text-align:center;
}
.content-hashtag{
    margin:0;
    padding: 0 0 6px 0; 
    width: 100%;
    font-family: Gilroy2;    
    line-height: normal;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #902156;
    text-transform: uppercase;
    cursor: pointer;
}
.content-title{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: Gilroy2;
    line-height: normal;
    font-size: 18px;
    color: #313335;
    
}
.content-menu{
    margin:0;
    padding: 0 ;
    float: right;
    text-align: right;
    cursor:pointer;
}
.content-text{
    margin:0;
    padding: 4px 0;
    width:100%;
    display: block;    
    text-align:center;
}
.btn-link{
    margin:16px auto ;
    padding: 0;
    display: block;
    float: none;
    text-align: center;
}



}
</style>
